@charset "UTF-8";
/* CSS Document 
Zsofia Csagoly - mmdi 0919
PersonalPortfolio_V2 */

* {
    box-sizing: border-box;
}

/* -- establishing variables -- */

:root {
    --background-light: #FFFFFF;
    --background-medium: #FFFAFA;
    --background-purple: #211834;
    --nav-purple: #D4C1EC;
    --border-purple: #D4C1EC;
    --text-light: #f2f2ff;
    --text-dark: #211834;
    --highlight: #FF5154;
    --shadow: #808080;
    --primary-font: 'Montserrat', sans-serif;
    --margin-large: 15%;
    --margin-medium: 8%;
    --margin-small: 2px;
    --padding-large: 5%;
    --padding-medium: 25px;
    --padding-small: 2px;
}

html, body {
    background-color: var(--background-medium);
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}

i {
    color: var(--text-dark);
}

h1 {
    font-family: var(--primary-font);
    font-size: 3em;
    color: var(--text-dark);
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 2.5em;
    padding: 40px 0;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-family: var(--primary-font);
    color: var(--text-medium);
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-medium);
    font-size: 20px;
    line-height: 1.5em;
}

a {
    font-family: var(--primary-font);
    color: var(--highlight);
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.zoom {
    display: block;
    transition: transform .1s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

.zoomImg {
    transition: transform .1s;
    margin: 0 auto;
}

.zoomImg:hover {
    transform: scale(1.05);
}

/* -- navigation section of page -- */

nav {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navigation {
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 0;
    background-color: var(--background-light);
    border-bottom: #D4C1EC solid 2px;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}

.nav-links {
    width: 33%;
    height: 80px;
    display: flex;
    flex-direction: row;
    z-index: 3;
    background-color: var(--background-light);
    top: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
}

.not-logo a {
    margin: 0;
    padding: 0.4em 2em;
    color: var(--highlight);
    font-family: var(--primary-font);
    font-size: 0.9em;
    text-decoration: none;
}

.not-logo a:hover {
    color: var(--highlight);
    text-shadow: 1px 0px 40px #FF5154, 1px 0px 40px #FF5154;
}

.navigation .not-logo {
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 40px;
    height: 40px;
    background-image: url(logo/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

/*.logo :hover {
    box-shadow: 1px 1px 5px #ff989a, 1px 0px 15px #ff989a;
}*/

.social-iconsA {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.social-iconsA i {
    color: var(--highlight);
}

.social-iconsA i:hover {
    color: var(--highlight);
    text-shadow: 1px 0px 40px #FF5154, 1px 0px 40px #FF5154;
}

.icon_gap {
    margin: 0 10px;
}

/* navigation ends here*/

.container-intro {
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 0 var(--margin-large);
    padding-top: var(--margin-medium);
}

.center-box {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 70%;
    justify-content: center;
    text-align: center;
    padding: var(--margin-small) 0;
}

/*.center-box:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 80%;
    left: 10%;
    padding-bottom: var(--margin-large);
    border-bottom: var(--border-purple) solid 5px;
}

.intro-txt h1 {
    font-weight: 800;
    letter-spacing: 0.15em;
    text-align: center;
}

.pitch {
    text-align: center;
    margin-top: var(--margin-medium);
    width: 100%;
}

/*landing page ends here*/

#landing {
    padding-bottom: var(--margin-large);
}

.container-work {
    background-color: var(--background-medium);
    text-align: center;
    padding-top: var(--margin-large);
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--margin-medium);
}

.title-section {
    margin-top: var(--margin-large);
}

.subtitle {
    display: flex;
    flex-direction: row;
}

.column1 {
    width: 50%;
}

.column2 {
    width: 50%;
    text-align: left;
}

.column2 p {
    margin-left: var(--margin-large);
}

.project-desc a:hover {
    color: var(--highlight);
    text-shadow: 1px 0px 40px #FF5154, 1px 0px 40px #FF5154;
}


.card-holder {
    margin: var(--margin-large);
    height: 400px;
    display: flex;
    flex-direction: row;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}  /*box-shadow REF: https://css-tricks.com/make-a-smooth-shadow-friend/ */

.product-imgA {
    width: 500px;
    background-image: url(img/CaseStudies/CDlaptop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.productA {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productB {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-imgB {
    width: 500px;
    background-image: url(img/CaseStudies/UMlaptop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.product-imgC {
    width: 500px;
    background-image: url(img/CaseStudies/PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.productC {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productD {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-imgD {
    width: 500px;
    background-image: url(img/CaseStudies/Photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.container-gallery {
    background-color: var(--background-purple);
    display: flex;
    padding: 0 var(--margin-large);
    justify-content: center;
    margin-top: -10%;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
#gallery{
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}
#gallery.open{
   max-height: 3550px;
   transition: all 3.5s;
} 

.gallery-card {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--margin-medium);
}

.gallery1 {
    width: 20vw;
    background-image: url(img/Gallery/gallery1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery2 {
    width: 20vw;
    background-image: url(img/Gallery/gallery2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery3 {
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery4 {
    width: 20vw;
    background-image: url(img/Gallery/gallery4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery5 {
    width: 20vw;
    background-image: url(img/Gallery/gallery5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery6 {
    width: 20vw;
    background-image: url(img/Gallery/gallery6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery7 {
    width: 20vw;
    background-image: url(img/Gallery/gallery7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery8 {
    width: 20vw;
    background-image: url(img/Gallery/gallery8.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery9 {
    width: 20vw;
    background-image: url(img/Gallery/gallery9.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gap {
    margin-right: 30px;
}

.gutter {
    margin: 5vh 0 0 0;
}

/* Work page ends here*/

.container-about {
    background-color: var(--background-medium);
    text-align: center;
    margin: var(--margin-large);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-info {
    display: flex;
    flex-direction: row;
    padding: var(--margin-medium) 0;
}

.about-txt {
    padding-right: var(--margin-medium);
    text-align: left;
    width: 90%;
}

#profile {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url(img/About/profile.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.wrapWork {
    display: flex;
    flex-direction: column;
}

.workTitle {
    display: flex;
    justify-content: left;
}

.workProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: var(--margin-medium) 0;
}

.workDesc {
    width: 60%;
}
.CVPlacement a:hover {
    color: var(--highlight);
    text-shadow: 1px 0px 40px #FF5154, 1px 0px 40px #FF5154;
}
.recommend {
    display: flex;
    justify-content: flex-end;
}

.recommend ul {
    list-style-type: none;
    font-family: var(--primary-font);
    color: var(--highlight);
    font-weight: 600;
    font-size: small;
}

.recommend ul li {
    line-height: 3em;
    cursor: pointer;
    text-decoration: underline;
}
.recommend a:hover {
    color: var(--highlight);
    text-shadow: 1px 0px 40px #FF5154, 1px 0px 40px #FF5154;
}

.workSub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--margin-large);
}

.workSubSkills {
    text-align: left;
}

.workSubSkills ul {
    list-style-type: none;
    font-family: var(--primary-font);
    color: var(--text-dark);
    line-height: 2em;
    padding: 0;
}

.workSubSkillsItem {
    padding: var(--margin-medium) 0;
}

.workSubSkillsItem h3 {
    font-weight: 600;
    color: var(--text-dark);
}

.eduProcess {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eduDesc {
    width: 60%;
    text-align: left;
    margin-top: var(--margin-medium);
}

.eduItem {
    padding: var(--padding-medium);
}

.eduItem h3 {
    font-weight: 600;
}

.educations {
    text-align: right;
}

.CVPlacement {
    display: flex;
    padding-top: var(--margin-large);
    justify-content: center;
}

button {
    background-color: var(--background-light);
    border-radius: 30px;
    border: 5px solid #FF5154;
    width: 8em;
    height: 7vh;
    font-family: var(--primary-font);
    font-size: 1.1em;
    color: var(--text-dark);
    font-weight: 700;
    padding: 5px;
    box-shadow: 0px 3px 6px #808080;
    transition: 0.4s
}

.active, button:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

button a {
    text-decoration: none;
    padding: 0;
    width: 100%;
}

footer {
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: #D4C1EC;
    text-align: center;
    color: var(--text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    padding-top: var(--padding-medium);
    font-size: 0.75em;
}