@charset "UTF-8";
/* CSS Document 
Zsofia Csagoly - mmdi 0919
PersonalPortfolio_V2 */

* {
    box-sizing: border-box;
}

/* -- establishing variables -- */

:root {
    --background-light: #FFFFFF;
    --background-medium: #FFFAFA;
    --background-purple: #211834;
    --nav-purple: #D4C1EC;
    --border-purple: #c39ef2;
    --text-light: #f2f2ff;
    --text-dark: #211834;
    --highlight: #FF5154;
    --shadow: #808080;
    --primary-font: 'Montserrat', sans-serif;
    --margin-large: 15%;
    --margin-medium: 8%;
    --margin-small: 2px;
    --padding-large: 5%;
    --padding-medium: 5px;
    --padding-small: 2px;
}

html, body {
    background-color: var(--background-medium);
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}

i {
    color: var(--text-dark);
}

h1 {
    font-family: var(--primary-font);
    font-size: 3em;
    color: var(--text-dark);
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: var(--primary-font);
    color: var(--text-dark);
    font-size: 2.5em;
    padding: 40px 0;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-family: var(--primary-font);
    color: var(--text-medium);
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-medium);
    font-size: 20px;
    line-height: 1.5em;
}

a {
    font-family: var(--primary-font);
    color: var(--text-dark);
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.1em;
}

/* -- navigation section of page -- */

nav {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navigation {
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 0;
    background-color: var(--background-light);
    border-bottom: #D4C1EC solid 2px;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}

.nav-links {
    width: 33%;
    height: 80px;
    display: flex;
    flex-direction: row;
    z-index: 3;
    background-color: var(--background-light);
    top: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
}

.not-logo a {
    margin: 0;
    padding: 0.4em 2em;
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: 0.9em;
    text-decoration: none;
    border-left: solid 1px var(--text-medium);
}

#works {
    border: none;
}

.not-logo a:hover {
    background-color: var(--highlight);
    border-radius: 10%;
    color: var(--text-dark);
}

.navigation .not-logo {
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 40px;
    height: 40px;
    background-image: url(logo/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

.social-iconsA {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    color: var(--text-dark);
}

.social-iconsA i:hover {
    color: var(--highlight);
}

.icon_gap {
    margin: 0 10px;
}

/* navigation ends here*/

.container-intro {
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 0 var(--margin-large);
    padding-top: var(--margin-medium);
}

.center-box {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 70%;
    justify-content: center;
    text-align: center;
    padding: var(--margin-small) 0;
}

/*.center-box:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 80%;
    left: 10%;
    padding-bottom: var(--margin-large);
    border-bottom: var(--border-purple) solid 5px;
}

.intro-txt h1 {
    font-weight: 800;
    letter-spacing: 0.15em;
    text-align: center;
}

.pitch {
    text-align: center;
    margin-top: var(--margin-medium);
    width: 100%;
}

/*landing page ends here*/

#landing {
padding-bottom: var(--margin-large);
}



.container-work {
    background-color: var(--background-medium);
    text-align: center;
    padding-top: var(--margin-large);
}

.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--margin-medium);
}

.title-section {
    margin-top: var(--margin-large);
}

.subtitle {
    display: flex;
    flex-direction: row;
}

.column1 {
    width: 50%;
}

.column2 {
    width: 50%;
    text-align: left;
}

.column2 p {
    margin-left: var(--margin-large);
}

.card-holder {
    margin: var(--margin-large);
    height: 400px;
    display: flex;
    flex-direction: row;
}

.product-imgA {
    width: 500px;
    background-image: url(img/CaseStudies/CDlaptop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.productA {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productB {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-imgB {
    width: 500px;
    background-image: url(img/CaseStudies/UMlaptop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-imgC {
    width: 500px;
    background-image: url(img/CaseStudies/PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.productC {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productD {
    width: 66.666%;
    border-top: 5px solid var(--border-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-imgD {
    width: 500px;
    background-image: url(img/CaseStudies/Photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-gallery {
    background-color: var(--background-purple);
    display: flex;
    padding: 0 var(--margin-large);
    justify-content: center;
    margin-top: -10%;
    display: none;
    overflow: hidden;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.gallery-card {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--margin-medium);
}

.gallery1 {
    width: 20vw;
    background-image: url(img/Gallery/gallery1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery2 {
    width: 20vw;
    background-image: url(img/Gallery/gallery2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery3 {
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery4 {
    width: 20vw;
    background-image: url(img/Gallery/gallery4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery5 {
    width: 20vw;
    background-image: url(img/Gallery/gallery5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery6 {
    width: 20vw;
    background-image: url(img/Gallery/gallery6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery7 {
    width: 20vw;
    background-image: url(img/Gallery/gallery7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery8 {
    width: 20vw;
    background-image: url(img/Gallery/gallery8.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery9 {
    width: 20vw;
    background-image: url(img/Gallery/gallery9.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gap {
    margin-right: 30px;
}

.gutter {
    margin: 5vh 0 0 0;
}

/* Work page ends here*/
.container-about{
    background-color: var(--background-medium);
    text-align: center;
    margin: var(--margin-large);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-info{
    display: flex;
    flex-direction: row;
    padding: var(--margin-medium) 0;
}

.about-txt{
padding-right: var(--margin-medium);
text-align: left;
}

#profile {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url(img/About/profile.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.WorkProcess {
    width: 66.666%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.btnPlacement button {
    margin-top: var(--margin-medium);
}

button {
    
    background-color: var(--background-light);
    border-radius: 25px;
    border: 5px solid #FF5154;
    width: 7em;
    height: 7vh;
    font-family: var(--primary-font);
    font-size: 1.1em;
    color: var(--text-dark);
    font-weight: 700;
    padding: 5px;
    box-shadow: 0px 3px 6px #808080;
}

button:hover {
    background-color: var(--highlight);
    cursor: pointer;
}


footer {
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: var(--background-purple);
    text-align: center;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contact a {
    color: var(--text-light);
}